.main {
    padding: 60px 40px 120px;
    display: grid;
    grid-template-columns: 1fr;
    grid-auto-rows: auto;
    justify-items: center;
}

.block {
    min-width: 640px;
    display: flex;
    flex-direction: row;
    justify-content: right;
    align-items: center;
}

.caption {
    padding-top: 32px;
}

.image {
    padding: 60px 0;
    background-color: transparent;
}

.text {
    padding-top: 8px;
}

.button {
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
}