.main {
    padding: 40px 40px 60px;
}

.block {
    display: flex;
    flex-direction: row;
    gap: 36px;
    justify-content: space-between;
    align-items: center;
}

.card {
    display: flex;
    flex-direction: column;
    align-items: center;
    row-gap: 16px;
}


.container {
    margin: 0;
    padding: 16px 0  0;
    list-style-type: none;
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-auto-rows: 1fr;
    gap: 8px 20px;
    justify-items: center;
}

.button {
    padding: 0;
    cursor: pointer;
    background-color: transparent;
    border: none;
}

