.header {
    width: 100%;
    max-width: 1920px;
    padding: 16px 0 16px;
    background: #1C1C21;
}

.block {
    margin: 0 auto;
    max-width: 1280px;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-auto-rows: auto;
    box-sizing: border-box;
    align-items: center;
    justify-items: center;
}


.links {
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
    justify-self: left;
    gap: 8px;
}

.linkRight {
    margin: 0;
    display: flex;
    flex-direction: row;
    padding: 16px 20px;
    gap: 8px;
    justify-self: right;
}

.link {
    margin: 0;
    display: flex;
    flex-direction: row;
    padding: 16px 20px;
    gap: 8px;
}